@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poiret+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --text: white;
  --textSoft: ;
  --btn: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Poiret One", serif;
  font-style: normal;

}

*::-webkit-scrollbar {
  display: none;
}


.container {
  margin: 0;
  display: flex;
  flex-direction: column;


}

a {
  text-decoration: none;
  color: inherit;
}