.container {
    background-color: #206957;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    cursor: pointer;
}

.logo text {
    color: #ffffff;
}

.logo span {
    color: #e74c3c;
}

.icons {
    cursor: pointer;
}