.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.house {
    cursor: pointer;
}

.search {
    cursor: pointer;
}

.settings {
    cursor: pointer;
}